:root {
    --primary-color: #72d5cd;
    --secondary-color: #7f7f7f;
    --sub-menu-bg-color: #1c1c1c;
    --Montserrat-font: 'Montserrat', sans-serif;
    --raleway-font: 'Raleway', sans-serif;
}
html, body {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

#header {
    display: flex;
    justify-content: space-between;
    padding:20px;
    width: 98vw;
    margin: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    border-bottom: 2px solid #f5f5f5;
}

#navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-color);
    font-family: 'Raleway', sans-serif;
}

#navbar-items {
    display: flex;
}

.nav-item {
    padding: 5px;
    font-family: 'Raleway', sans-serif;
}

#menu-icon {
    display: none;
}
#menu-icon>img {
    width: 35px;
}

.drop-down {
    display: none;
}


/*!*Mobile devices*!*/
/*@media only screen and (max-width: 700px) {*/
/*    #navbar-brand {*/
/*        width: 60%;*/
/*        justify-content: flex-start;*/
/*        padding-left: 10%;*/
/*    }*/
/*    .nav-item {*/
/*        display: none;*/
/*    }*/
/*    #menu-icon {*/
/*        display: flex;*/
/*    }*/
/*}*/

/*!*Tablet devices*!*/
/*@media only screen and (min-width: 700px) {*/
/*    #navbar-brand {*/
/*        width: 100%;*/
/*    }*/
/*    #navbar-items {*/
/*        flex-direction: row;*/
/*        justify-content: space-around;*/
/*        width: 100%;*/
/*        align-items: center;*/
/*        margin-top: 20px;*/
/*    }*/
/*}*/

/*!*Desktop devices*!*/
/*@media only screen and (min-width: 1200px) {*/
    #header {
        align-items: center;
    }
    #navbar-brand {
        width: 35%;
    }
    #navbar-items {
        flex-direction: row;
        justify-content: space-around;
        width: 60%;
        margin: 0;
        align-items: center;
    }
    .nav-item {
        border-bottom: 3px solid white;
        /*position: relative;*/
        cursor: pointer;
        color: var(--secondary-color);
        font-weight: bolder;
        font-size: 14px;
    }
    .no-sub-menu {
        position: relative;
    }
    .no-sub-menu:after {
        bottom: -2px;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--primary-color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    .no-sub-menu:hover:after {
        width: 100%;
        left: 0;
    }
    .nav-item:hover {
        color: #000000;
    }
    .nav-active {
        color: var(--primary-color);
        font-weight: bolder;
    }
    .drop-down {
        flex-direction: column;
        position: absolute;
        top: 60px;
        width: 250px;
        background-color: var(--sub-menu-bg-color);
        z-index: 1;
    }
    .nav-item:hover .drop-down {
        display: flex;
    }
    .drop-down-item {
        padding:10px;
        border-bottom: 1px solid #333333;
        color: #bebebe;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
    }
    .drop-down-item:hover {
        color: white;
    }
    #summary {
        background-color: rgb(255, 255, 255);
        padding-top: 75px;
        padding-bottom: 45px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .summary-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        cursor: pointer;
    }
    .summary-item img {
        width: 100px;
    }
    .summary-item p {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin:5px 0 5px 0;
    }
    .summary-item-head {
        font-size: 15px;
        font-weight: bolder;
        color: rgb(41, 41, 41);
    }
    .summary-item-content {
        font-size: 14px;
    }
    #addmissions {
        background-color: rgb(245, 245, 245);
        padding-top: 40px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .admission-banner {
        width: 60%;
        font-family: var(--Montserrat-font);
    }
    .admission-banner h3 {
        font-size: 22px;
        font-weight: bolder;
    }
    .admission-banner p {
        font-size: 14px;
    }
    .admission-action {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .admission-contact-button {
        background-color: #555555;
        color: white;
        cursor: pointer;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        width: 175px;
    }
    #updates {
        display: flex;
        justify-content: space-around;
        padding: 60px 10% 40px;
    }
    #updates h3 {
        color: #393939;
        font-weight: bolder;
    }
    .update-container {
        width: 25%;
        flex-direction: column;
    }
    .update-container h3 {
        font-size: 18px;
        font-family: var(--raleway-font);
    }
    #update-container-recent-updates {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    .recent-update-item {
        padding: 20px;
        min-height: 55px;
        background-color: #f5f5f5;
        border-bottom: 2px solid var(--primary-color);
        width: 100%;
        margin-bottom: 15px;
        position: relative;
    }
    .new-announcement-tag {
        background-color: var(--primary-color);
        width: 40px;
        height: 18px;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 10px;
        position: absolute;
        bottom: 15px;
        right: 10px;

    }
    #mission_vision{
        padding: 60px 10% 40px;
    }
    .recent-update-item h3 {
        font-size: 14px;
        font-family: var(--raleway-font);
        color: #555555;
        font-weight: bolder;
        text-transform: uppercase;
    }
    .recent-update-item p {
        color: #c2c2c2;
        font-size: 13px;
        text-align: right;
        font-family: var(--Montserrat-font);
        margin: 0;
    }
    #chaiman-speak {
        margin-top: 40px;
        width: 100%;
        background-color: #f5f5f5;
        height: 300px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #chaiman-speak h5 {
        color: var(--primary-color);
        font-family: var(--raleway-font);
        font-size: 18px;
        font-weight: bolder;
        margin: 5px;
    }
    #chaiman-speak h6 {
        color: #bababa;
        font-family: var(--Montserrat-font);
        font-size: 15px;
        margin: 3px;
    }
    #college-data {
        width: 100%;
        margin-top: 40px;
    }
    #college-data iframe {
        width: 100%;
        height: 190px;
    }
    #contact-us {
        background-color: #f5f5f5;
        padding-top: 40px;
        padding-bottom: 20px;
        width: 100%;
    }
    #contact-us h3 {
        text-align: center;
        margin-bottom: 20px;
        font-family: var(--raleway-font);
        text-transform: capitalize;
        font-weight: bolder;
        color: #555555;
        font-size: 18px;
    }
    #contact-us form {
        width: 60%;
        margin: auto;
        background-color: white;
        font-size: 15px;
        padding: 20px;
        font-family: var(--Montserrat-font);
    }
    #submit-form {
        background-color: var(--primary-color);
        border: none;
    }
    #footer {
        background-color: #262626;
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 40px 10% 20px;
        color: white;
    }
    .footer-head {
        font-family: var(--raleway-font);
        font-size: 13px;
        display: flex;
        width: 100%;
        align-items: baseline;
        margin-bottom: 10px;
        color: white;
        font-weight: bolder;
    }
    .footer-container {
        width: 20%;
    }
    .footer-container:nth-child(2) {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        margin: 2px;
        font-family: var(--Montserrat-font);
        color: #bfbfbf;
        font-size: 12px;
    }
    .footer-container img {
        margin-right: 20px;
        width: 20px;
        cursor: pointer;
    }
    /*-------------------------Facilities, Courses Page ----------------------------*/
    #facilities, #courses {
        width: 90%;
        padding-top: 60px;
        padding-bottom: 40px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #facilities>h3, #courses>h3, #placements>h3 {
        text-align: center;
        font-weight: bolder;
        color: #555555;
        font-size: 24px;
        font-family: var(--raleway-font);
        text-transform: uppercase;
    }
    .facility-item, .course-item {
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
        padding-top: 40px;
        color: #555555;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .facility-item:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .fac-data {
        width: 60%;
    }
    .fac-img {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 200px;
        border: 3px solid var(--secondary-color);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow: hidden;
        padding:10px;
    }

    .fac-img img {
        width: 100%;
        height: 100%;
    }
    .facility-item h3, .course-title{
        font-family: var(--raleway-font);
        font-size: 18px;
        font-weight: bolder;
        text-transform: uppercase;
        color: var(--primary-color);
    }
    .facility-item p, .course-data{
        font-family: var(--Montserrat-font);
        font-size: 14px;
        color: black;
    }
    .course-sub-title {
        margin-top: 15px;
        font-family: var(--raleway-font);
        font-size: 16px;
        font-weight: bolder;
        text-transform: uppercase;
        color: var(--secondary-color);
    }
    #placements {
        width: 90%;
        padding-top: 60px;
        padding-bottom: 40px;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 80vh;
    }
    .placement-brief p{
        margin-top: 30px;
        color: black;
        font-family: var(--Montserrat-font);
        font-size: 14px;
    }
/*}*/
#navbar-brand{
    cursor: pointer;
}
/*-------------------animation------------------------*/

.nav-card{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: var(--secondary-color);
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.nav-card:hover{
    box-shadow: none;
}
.span-card{
    display: block;
    padding: 20px;
    min-width: 150px;
    text-align: center;
}
.nav-card::before, .nav-card::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--primary-color);
}

.span-card::before, .span-card::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: var(--primary-color);;
}
.nav-card:hover::before, .nav-card:hover::after{
    width: 100%;
}
.nav-card:hover .span-card::before, .nav-card:hover .span-card::after{
    height: 100%;
}
/*----- button 1 -----*/
.nav-card::before, .nav-card::after{
    transition-delay: 0.2s;
}
.nav-card .span-card::before, .nav-card .span-card::after{
    transition-delay: 0s;
}
.nav-card::before{
    right: 0;
    top: 0;
}
.nav-card::after{
    left: 0;
    bottom: 0;
}
.nav-card .span-card::before{
    left: 0;
    top: 0;
}
.nav-card .span-card::after{
    right: 0;
    bottom: 0;
}
.nav-card:hover::before, .nav-card:hover::after{
    transition-delay: 0s;
}
.nav-card:hover .span-card::before, .nav-card:hover .span-card::after{
    transition-delay: 0.2s;
}

.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 40px auto;
    min-height: 80vh;
}

.partner-item{
    width: 60%;
    margin : 30px 0 30px 0;
    border-radius: 100px;
    padding: 30px;
    display: flex;
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.2), 0px 1px 3px 0px rgba(0,0,0,0.12), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.partner-item-data{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.partner-item-action{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    border-left: 1px solid var(--secondary-color);
}